analytics-secrets_BACKEND_PORT=
analytics-secrets_DEBUG=
analytics-secrets_GATEWAY_URL=
analytics-secrets_JWT_SECRET=
analytics-secrets_KAFKA_BROKER=
analytics-secrets_KAFKA_ENABLED=
analytics-secrets_KAFKA_SERVICE_NAME=
analytics-secrets_KAFKA_TOPIC=
analytics-secrets_LOGLEVEL=
analytics-secrets_MONGODB_URI=
analytics-secrets_NODE_ENV=
api-secrets_JWT_SECRET=
api-secrets_NODE_ENV=
api-secrets_PORT=
api-secrets_THROTTLE_LIMIT=
api-secrets_THROTTLE_WINDOW=
chats-secrets_BACKEND_PORT=
chats-secrets_GATEWAY_URL=
chats-secrets_INFRASTRUCTURE_INTEGRATION=
chats-secrets_JWT_SECRET=
chats-secrets_KAFKA_BROKER=
chats-secrets_KAFKA_ENABLED=
chats-secrets_KAFKA_SERVICE_NAME=
chats-secrets_KAFKA_TOPIC=
chats-secrets_LOGLEVEL=
chats-secrets_MONGODB_URI=
chats-secrets_NODE_ENV=
chats-secrets_THROTTLE_MAX=
chats-secrets_THROTTLE_WINDOW_MS=
feeds-secrets_BACKEND_PORT=
feeds-secrets_CBREAKER_FAILURE_THRESHOLD=
feeds-secrets_CBREAKER_RESET_TIMEOUT=
feeds-secrets_CBREAKER_SUCCESS_THRESHOLD=
feeds-secrets_GATEWAY_URL=
feeds-secrets_INFRASTRUCTURE_INTEGRATION=
feeds-secrets_JWT_SECRET=
feeds-secrets_KAFKA_BROKER=
feeds-secrets_KAFKA_ENABLED=
feeds-secrets_KAFKA_SERVICE_NAME=
feeds-secrets_KAFKA_TOPIC=
feeds-secrets_LOGLEVEL=
feeds-secrets_MONGODB_URI=
feeds-secrets_NODE_ENV=
feeds-secrets_REDIS_CACHE_ENABLED=
feeds-secrets_REDIS_HOST=
feeds-secrets_REDIS_PORT=
feeds-secrets_REDIS_TTL=
feeds-secrets_RL_MAX_REQUESTS_PER_MINUTE=
feeds-secrets_RL_MIN_INTERVAL_BETWEEN_REQUESTS=
feeds-secrets_THROTTLE_MAX=
feeds-secrets_THROTTLE_WINDOW_MS=
frontend-secrets_GATEWAY_URL=
frontend-secrets_JWT_SECRET=
frontend-secrets_NODE_ENV=
frontend-secrets_PORT=
itineraries-secrets_BACKEND_PORT=
itineraries-secrets_GATEWAY_URL=
itineraries-secrets_JWT_SECRET=
itineraries-secrets_KAFKA_BROKER=
itineraries-secrets_KAFKA_ENABLED=
itineraries-secrets_KAFKA_SERVICE_NAME=
itineraries-secrets_KAFKA_TOPIC=
itineraries-secrets_LOG_LEVEL=
itineraries-secrets_MONGODB_URI=
itineraries-secrets_NODE_ENV=
kafka-secrets_KAFKA_ADVERTISED_LISTENERS=
kafka-secrets_KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
kafka-secrets_KAFKA_ZOOKEEPER_CONNECT=
logger-secrets_BACKEND_PORT=
logger-secrets_KAFKA_BROKER=
logger-secrets_KAFKA_TOPIC=
logger-secrets_LOG_FILE_PATH=
meteo-secrets_ALLOWED_SERVICES=
meteo-secrets_BACKEND_PORT=
meteo-secrets_GATEWAY_URL=
meteo-secrets_JWT_SECRET=
meteo-secrets_KAFKA_BROKER=
meteo-secrets_KAFKA_ENABLED=
meteo-secrets_KAFKA_SERVICE_NAME=
meteo-secrets_KAFKA_TOPIC=
meteo-secrets_LOGLEVEL=
meteo-secrets_MAX_REQUESTS_PER_MINUTE=
meteo-secrets_METEO_CIRCUIT_BREAKER_FAILURE_THRESHOLD=
meteo-secrets_METEO_CIRCUIT_BREAKER_RESET_TIMEOUT=
meteo-secrets_METEO_CIRCUIT_BREAKER_SUCCESS_THRESHOLD=
meteo-secrets_MIN_INTERVAL_BETWEEN_REQUESTS=
meteo-secrets_NODE_ENV=
meteo-secrets_REDIS_HOST=
meteo-secrets_REDIS_PORT=
meteo-secrets_REDIS_TTL=
meteo-secrets_USE_MOCK_API=
notifications-secrets_BACKEND_PORT=
notifications-secrets_DEBUG=
notifications-secrets_GATEWAY_URL=
notifications-secrets_JWT_SECRET=
notifications-secrets_KAFKA_BROKER=
notifications-secrets_KAFKA_ENABLED=
notifications-secrets_KAFKA_SERVICE_NAME=
notifications-secrets_KAFKA_TOPIC=
notifications-secrets_LOGLEVEL=
notifications-secrets_MONGODB_URI=
notifications-secrets_NODE_ENV=
publications-secrets_BACKEND_PORT=
publications-secrets_DEBUG=
publications-secrets_GATEWAY_URL=
publications-secrets_JWT_SECRET=
publications-secrets_KAFKA_BROKER=
publications-secrets_KAFKA_ENABLED=
publications-secrets_KAFKA_SERVICE_NAME=
publications-secrets_KAFKA_TOPIC=
publications-secrets_LOGLEVEL=
publications-secrets_MONGODB_URI=
publications-secrets_NODE_ENV=
users-secrets_BACKEND_PORT=
users-secrets_DEBUG=
users-secrets_GATEWAY_URL=
users-secrets_JWT_SECRET=
users-secrets_LOGLEVEL=
users-secrets_MONGODB_URI=
users-secrets_NODE_ENV=
